In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('vgsales.csv')
ddf=df.copy()
d3 = df.copy()
d3

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
# df.drop('Rank',axis=1,inplace=True)

In [ ]:
a=df.to_csv('vgsales.csv', index=False)

In [ ]:
a

In [ ]:
name = str(input('Enter name'))

Enter nameGrand Theft Auto V

In [ ]:
vg = df[df['Name']==name]

KeyError: ignored

In [ ]:
import time
platform = vg.Platform.values
for i in platform:
  print(time.sleep(2),i)

None PS3
None X360
None PS4
None XOne
None PC

In [ ]:
ptfm = str(input('Enter Platform'))

Enter PlatformPS4

In [ ]:
data = df[(df['Name']==name) & (df['Platform']==ptfm)]

In [ ]:
data

    Rank                Name Platform  ...  JP_Sales Other_Sales Global_Sales
44    45  Grand Theft Auto V      PS4  ...      0.36        2.02        11.98

[1 rows x 11 columns]

In [ ]:
df['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [ ]:
df = df.fillna(method = 'ffill')

In [ ]:
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [ ]:
vg.NA_Sales

16      7.01
23      9.63
44      3.80
197     2.66
1896    0.36
Name: NA_Sales, dtype: float64

In [ ]:
df = df.groupby(['Name','Platform'])

In [ ]:
df.head(20)

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
a=df['Publisher'].unique()

In [ ]:
b=pd.DataFrame(a)
b

                                                             Publisher
Name                                    Platform
'98 Koshien                             PS           [Magical Company]
.hack//G.U. Vol.1//Rebirth              PS2       [Namco Bandai Games]
.hack//G.U. Vol.2//Reminisce            PS2       [Namco Bandai Games]
.hack//G.U. Vol.2//Reminisce (jp sales) PS2       [Namco Bandai Games]
.hack//G.U. Vol.3//Redemption           PS2       [Namco Bandai Games]
...                                                                ...
uDraw Studio                            Wii                      [THQ]
uDraw Studio: Instant Artist            Wii                      [THQ]
                                        X360                     [THQ]
wwe Smackdown vs. Raw 2006              PS2                    [Atari]
Â¡Shin Chan Flipa en colores!            DS                 [505 Games]

[16593 rows x 1 columns]

In [ ]:
vg.Platform

16       PS3
23      X360
44       PS4
197     XOne
1896      PC
Name: Platform, dtype: object

In [ ]:
l = [vg.Platform]

In [ ]:
l[0]

16       PS3
23      X360
44       PS4
197     XOne
1896      PC
Name: Platform, dtype: object

In [ ]:
len(l)

1

AttributeError: ignored

In [ ]:
ddf

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
idx=ddf.columns

In [ ]:
idx[6]

'NA_Sales'

In [ ]:
ddf.iloc[6::]

        Rank  ... Global_Sales
6          7  ...        30.01
7          8  ...        29.02
8          9  ...        28.62
9         10  ...        28.31
10        11  ...        24.76
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16592 rows x 11 columns]

In [ ]:
vg

                    Name Platform    Year  ... JP_Sales Other_Sales  Global_Sales
16    Grand Theft Auto V      PS3  2013.0  ...     0.97        4.14         21.40
23    Grand Theft Auto V     X360  2013.0  ...     0.06        1.38         16.38
44    Grand Theft Auto V      PS4  2014.0  ...     0.36        2.02         11.98
197   Grand Theft Auto V     XOne  2014.0  ...     0.00        0.41          5.08
1896  Grand Theft Auto V       PC  2015.0  ...     0.00        0.08          1.08

[5 rows x 10 columns]

In [ ]:
plat = 'PS4'
reg = 'JP_Sales'
vg.loc[(vg['Platform']==plat)] 
# vg[(vg.isin(['PS4']).any(axis=1))][[reg]]
# temp[[reg]]
sales = vg.iloc[:,5:]
sales.values

array([[ 7.01,  9.27,  0.97,  4.14, 21.4 ],
       [ 9.63,  5.31,  0.06,  1.38, 16.38],
       [ 3.8 ,  5.81,  0.36,  2.02, 11.98],
       [ 2.66,  2.01,  0.  ,  0.41,  5.08],
       [ 0.36,  0.64,  0.  ,  0.08,  1.08]])

In [ ]:
vg[vg[]==reg][vg['Platform'].values=='PS4'

SyntaxError: ignored

In [ ]:
vg[vg[reg]][vg['Platform'].values=='PS4']

KeyError: ignored

In [ ]:
abc=vg[vg['Platform']==plat][reg]

In [ ]:
abc.values

array([0.36])

In [ ]:
region = 'Japan'
reg_dict = {'North America':'NA_Sales','Europe':'EU_Sales','Japan':'JP_Sales','Other':'Other_Sales','Global':'Global_Sales'}

In [ ]:
fd=reg_dict[region]

In [ ]:
ac=vg[fd]
ac

16      0.97
23      0.06
44      0.36
197     0.00
1896    0.00
Name: JP_Sales, dtype: float64

In [ ]:
sales=vg.iloc[:,5:9]

In [ ]:
sales

      NA_Sales  EU_Sales  JP_Sales  Other_Sales
16        7.01      9.27      0.97         4.14
23        9.63      5.31      0.06         1.38
44        3.80      5.81      0.36         2.02
197       2.66      2.01      0.00         0.41
1896      0.36      0.64      0.00         0.08

In [ ]:
vg

                    Name Platform    Year  ... JP_Sales Other_Sales  Global_Sales
16    Grand Theft Auto V      PS3  2013.0  ...     0.97        4.14         21.40
23    Grand Theft Auto V     X360  2013.0  ...     0.06        1.38         16.38
44    Grand Theft Auto V      PS4  2014.0  ...     0.36        2.02         11.98
197   Grand Theft Auto V     XOne  2014.0  ...     0.00        0.41          5.08
1896  Grand Theft Auto V       PC  2015.0  ...     0.00        0.08          1.08

[5 rows x 10 columns]

In [ ]:
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
pldf = df[(df['Platform']==plat) & (df['Publisher']=='Ubisoft')]
df.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [ ]:
df.Publisher.unique()
ranks = 25

In [ ]:
df[(df['Platform']==plat) & (df['Rank']<=ranks)]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [ ]:
d3.Rank.iloc[:25]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
Name: Rank, dtype: int64

In [ ]:
d3.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [ ]:
d3=d3.fillna(method='ffill')

In [ ]:
d3.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64